sqlalchemy 
psycopg2-binary
bcrypt
PyJWT
click
fastapi
uvicorn
python-dotenv
python-multipart
requests
rq
alembic
rq-dashboard
python-multipart
fastapi-socketio
schedule
python-swiftclient
neo4j
cohere
langchain
playwright